$color_density: 15%;
div.test {
  padding: 1rem;
  color: #fff;
  background-color: #333;
  button {
    background-color: #ccc;
    border: 0;
    color: #333;
    padding: .8rem;
    &:focus {
      outline: 1px lighten(green, $color_density);
      box-shadow: 0 0 10px lighten(green, $color_density);
    }
  }
  ol {
    padding: 0;
    transition: 0.5s ease-in-out;
  }
  li {
    padding: .5rem;
    margin-bottom: .5rem;
    background-color: #ccc;
    display: none;
    transition: 0.5s ease-in-out;
    &.green {
      background-color: lighten(green, $color_density);
    }
    &.red {
      background-color: lighten(red, $color_density);
    }
    &.blue {
      background-color: lighten(blue, $color_density);
    }
    &.ironDOM {
      display: block;
    }
    &.testing {
      border: 1px red solid;
    }
  }
}
