doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ironDOM
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    div.container

      div.content
        :markdown
          # ironDOM.js

          **ironDOM** is an JavaScript microlibrary for DOM manipulation by [Raymon Schouwenaar](https://twitter.com/rsschouwenaar)

          This is the testing page of **ironDOM**

      div.test
        h2 Testing ironDOM
        button.test_toggleClass Test ironDOM.toggleClass()
        ol
          li.addClass  if the ironDOM.addClass is loaded this is green
          li.removeClass.red  if the ironDOM.removeClass is loaded this is green
          li.hasClass  if the ironDOM.hasClass is loaded this is green
          li.toggleClass  if the ironDOM.toggleClass is loaded this is green

  script(src="scripts/irondom.js")
  script(src="scripts/test.js")
